aiohttp==3.5.4
cchardet==2.1.4
aiodns==1.1.1
aiohttp-basicauth-middleware==1.1.0
asyncio==3.4.3

gunicorn==19.9.0
pyyaml

tensorflow==1.15.0
pytesseract==0.2.7

python-dotenv==0.10.1
requests==2.21.0
python-magic==0.4.15
grpcio==1.22.0

Pillow==5.4.1
logstash_formatter
python-decouple

openshift==0.9.0
